<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://doc.scrapy.org/en/latest/" target="_blank"><span class="glyphicon glyphicon-book"></span> Scrapy Document</a>
      </li>
      <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works" target="_blank"><span class="glyphicon glyphicon-book"></span> How Heroku Works</a>
      </li>
    </ul>
  </div>
</nav>
